# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
sdist/
wheels/
*.egg-info/
*.egg
MANIFEST

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pycharm
.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc